/* Geral */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#interface{
    width: 750px;
    margin: 0 auto;
}

/* Topo */
header{
    height: 150px;
    padding-top: 25px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
}
header ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}
header li{
    float: left;
}
header a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../img/divisor.png) no-repeat right center;
}
header .ultimo a{
    background: none;
}
header a:hover{
    color: #69001d;
    background-color: #de003e;
}
.brasil #brasil,
.internacional #internacional,
.economia #economia,
.saude #saude,
.ciencia #ciencia,
.fotos #fotos,
.home #home{
    color: white;
    background-color: #de003e;
    cursor: default;
}


/* Colunas */
#primario{
    width: 270px;
    margin: 0 0 20px 195px;
    float: left;
}
#duas-colunas #primario{
    width: 555px;
}
#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

/* Conteúdo */
#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}
.destaque img{
    width: 98%;
    border: 3px solid #b10333;
}
.entrevista img{
    width: 98%;
    border: 3px solid #de003e;
}
#conteudo h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}
#conteudo h3.destaque{
    background-color: #b10333;
    color: white;
}
#conteudo h3.entrevista{
    background-color: #de003e;
}
#conteudo p{
    text-align: justify;
}
#conteudo a{
    color: #b10333;
}
#secundario{
    width: 270px;
    margin: 0 0 20px 15px;
    float: left;
}

/* Listas */
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}
#lista-noticias li a{
    text-decoration: none;
}
#lista-noticias li:hover{
    background-color: #eee;
}
#lista-noticias li a img{
    width: 80px;
    float: left;
    margin: 5px;
}
#lista-noticias li a h3{
    color: #3e7ab9;
    font-size: .9em;
    font-weight: bold;
    padding: 0;
}
#lista-noticias li a p{
    font-size: .7em;
    text-align: justify;
    color: black;
}

/* Barra Lateral */
#lateral{
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}
#lateral ul a{
    font-size: .9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(../img/marcador.png) no-repeat left center;
    padding-left: 20px;
}
#lateral label{
    display: block;
    cursor: pointer;
}
#lateral input{
    font-size: 0.9em;
    background: white;
    width: 125px;
    padding:5px;
    border-style: solid;
}
#lateral input[type="submit"]{
    margin-top: 10px;
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
}

/* Caixa */
.caixa{
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../img/fundo-caixa.png);
}
.caixa h2{
    font-size: 1em;
    padding: 5px;
    background: #294c71;
    color: white;
}
.caixa-conteudo{
    margin-top: 5px;
    background: white;
    padding: 5px;
}

/* Rodapé */
footer{
    background: #294c71;
    padding: 20px;
    text-align: center;
    color: white;
    clear: both;
}