body{
    background-color: #F8F8FF;
    margin: 8px;
}

div{
    border-style: dotted;
}

.perfil{
    width: 33.3%;
}

.foto{
    position: relative;
    box-sizing: inherit;
    width: 33.3%;
}

.nome{
    padding: 0.01em 16px;
    position: absolute;
    box-sizing: inherit;
    display: block;
}

.profissional{
    width: 66.6%;
    display: block;
    box-sizing: inherit;
    float: right;
}